.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menu .label {
  transition: 0.3s;
}
.menu .label:hover {
  letter-spacing: 0.2rem;
}
.sider {
  height: 100% !important;
  background-color: black !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  z-index: 1 !important;
}
.menu {
  text-align: left;
  background-color: black;
  padding: 1rem;
  width: 50%;
}
.menuIcon {
  display: block !important;
  font-size: 20px !important;
}
.ant-menu-item-selected {
  background-color: #101314 !important;
}
p {
  font-size: 16px;
  line-height: 1.5rem;
}
hr {
  width: 100%;
  background-color: black;
  height: 2px;
  border: none;
}
/* Home page style Start */
.home {
  height: 100vh;
  color: white;
  text-align: left;
}
.home .flex {
  font-family: Montserrat;
}
.home .flex h1 {
  font-size: 60px;
  margin: 0px;
}
.home .flex p {
  font-size: 16px;
  color: #bbb;
  width: 90%;
}
.home .flex .animation {
  display: inline-block;
  font-size: 24px;
}
.socials {
  transition: 0.4s;
}
.socials:hover {
  scale: 1.2;
}
.socials .icons {
  display: block;
  font-size: 20px;
  color: white;
}
/* Home page style End */
/* About page style Start */
.about {
  width: 50vw;
  color: white;
  text-align: left;
  padding: 1rem;
  height: 100%;
  font-family: MontSerrat;
}
.about .button {
  font-family: MontSerrat;
  width: 25%;
  font-weight: bold;
  color: white;
  background-color: black;
  transition: 0.4s;
}
.about .button:hover {
  letter-spacing: 3px;
  background-color: #101314;
}
.list {
  width: 50%;
  list-style-type: none;
  padding: 0;
}
.list li {
  margin-bottom: 1rem;
  font-size: 16px;
}
.listFlex {
  font-family: Montserrat;
  font-size: 16px;
}
.listFlex span {
  width: 30%;
}
.listFlex a {
  color: white;
}
.about h1 {
  font-size: 30px;
}
.about h2 {
  font-size: 22px;
}
.about h3 {
  font-size: 20px;
}
.timelineContainer {
  width: 80%;
}
.timeline {
  font-family: Montserrat;
  margin-top: 2rem;
  color: white;
}
.timeline * {
  font-family: Montserrat;
}
.timeline span {
  margin-left: 2rem;
}
/* About page style End */
/* Contact Component Style */
.contact {
  font-family: Montserrat;
  color: white;
  width: 50vw;
}
.contact .content {
  height: 100vh;
  padding: 1rem;
}
.content h1 {
  text-align: left;
}
.contact #outlined-basic {
  width: 100%;
}
.contact .input {
  color: white !important;
  font-style: italic;
}
.contact .button,
.error .button {
  font-family: MontSerrat;
  width: 25%;
  color: white;
  background-color: black;
  font-weight: bold;
  transition: 0.4s;
}
.contact .button:hover,
.error .button:hover {
  letter-spacing: 3px;
  background-color: #101314;
}
#outlined-basic {
  color: white;
}
/* Contact Component Style END*/
/* Project Component Style Start */
.projects h1 {
  text-align: start;
}
.card .text {
  font-size: 16px;
  font-family: Montserrat !important;
}
.card .button {
  font-family: Montserrat;
  color: white;
  background-color: #101314;
}
.card .icons {
  margin: 3px;
}
.projects {
  width: 50vw;
  height: 100vh;
  padding: 1rem;
  font-family: MontSerrat;
  color: white;
}
/* Project Component Style End */
/* Error page Start */
.error {
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 30px;
  font-family: MontSerrat;
}
.error .button {
  width: 90%;
}
.error img {
  display: block;
  height: 200px;
  width: 350px;
}
/* Error page End */
@media screen and (max-width: 900px) {
  .container {
    overflow-x: hidden !important;
    /* Hide horizontal overflow on small screens */
  }
  .ant-layout-sider .sider {
    width: 100% !important;
    /* Make sider take full width on small screens */
  }
  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  * {
    text-align: center;
  }
  .label {
    text-align: left;
  }
  .about,
  .projects {
    width: 100vw;
    height: 100vh;
  }
  .about .timelineContainer {
    width: 100%;
  }
  .listFlex span {
    text-align: left;
  }
  .about .timeline span {
    text-align: left;
    margin-left: 0;
  }
  .list {
    width: 100%;
  }
  .contact {
    width: 100vw;
  }
  .card {
    width: 100% !important;
  }
}
@media screen and (max-width: 1300px) {
  .button {
    width: 100% !important;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #101314 inset !important;
}
/* Text Autofill color in Contact*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
/* .container {
  width: 100%;
  height: 100%;
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
} */
